@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}
body {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
}

.container {
	margin: 0 auto;
	position: relative;
	
	width: 960px;
}

.top {
	height: 90vh;
	justify-content: space-between;
	padding: 20px;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-attachment: fixed;
	background-image: url(../img/capa-inception3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}

.top:after {
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 212, 255, 0) 65%
	);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.top-menu {
	z-index: 2;
}

.top-menu .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.top-logo {
	display: inline-block;
		
}

.top-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.top-list-item {
	margin: 0 25px;
}

.top-list-item a,
.catalogo-menu-list-item a {
	color: rgb(248, 244, 244);
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.top-list-item a:hover {
	color: #f1cf0a;
}

.top-user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.top-user-img img {
	border-radius: 100%;
	box-shadow: 0 2px 3px rgba(36, 36, 36, 0.295);
	height: 45px;
	margin-right: 15px;
	width: 45px;
	overflow: hidden;
	
}
.top-user-name {
	color: rgb(250, 250, 250);
	font-size: 14px;
	font-weight: bold;
}

.top-conteudo {
	width: 100%;
}

.top-conteudo .container {
	position: relative;
	z-index: 2;
}

.top-titulo {
	color: #fff;
	font-size: 6.5em;
	font-weight: bold;
	line-height: 1.2em;
	margin: 0;
	text-transform: uppercase;
}

.top-genero {
	display: flex;
	margin: 15px 0 30px;
	font-size: 13px;
}

.top-genero-item {
	color: #fff;
	text-decoration: none;
	margin-right: 15px;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.top-genero-item:hover {
	color: #f1cf0a;
}

.top-botao {
	display: inline-block;
	padding: 15px 50px;
	color: #000;
	font-size: 1.5em;
	text-decoration: none;
	background-color: #f1cf0a;
	border-radius: 40px;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.top-botao:hover {
	background-color: #bc9a1d;
}

.top-botao i {
	font-size: 1.5em;
	position: absolute;
	right: 15px;
	top: 12px;
}

.top-informacao {
	padding: 20px 0;
	font-size: 1.4em;
	color: #fff;
}

.top-informacao p:last-child {
	color: #bc9a1d;
}

.catalogo {
	background-color: #f2f2f2;
	width: 100%;
}

.catalogo-menu {
	width: 100%;
}

.catalogo-menu-list {
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0 auto;
	padding: 0 20px;
}

.catalogo-menu-list-item {
	margin: 0 20px;
}

.catalogo-menu-list-item a {
	color: #f1cf0a;
	display: inline-block;
	padding: 25px 0;
}

.catalogo-menu-list-item a:hover {
	box-shadow: inset 0 -1px 0 #f1cf0a;
}

.catalogo-filmes-list {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
	width: 100%;
}

.catalogo-filmes-list-item {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	overflow: hidden;
	width: 24%;
}

.filme-poster {
	margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.filme-poster img {
	width: 100%;
	height: auto;
}

.filme-poster-info {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	padding: 80px 20px;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

.catalogo-filmes-list-item:hover .filme-poster-info {
	opacity: 1;
	visibility: visible;
}

.filme-poster-info h3 {
	color: #f1cf0a;
	font-size: 2em;
	line-height: 1em;
	text-transform: uppercase;
}

.filme-poster-link {
	color: #fff;
	font-size: 5em;
	transition: all 0.2s ease-in-out;
}

.filme-poster-link:hover {
	color: #f1cf0a;
}

.filme-sinopse {
	padding: 10px;
	width: 100%;
}

.filme-sinopse-titulo {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}

.sinopse-genero {
	margin: 10px 0;
	display: flex;
}

.sinopse-genero-item {
	text-decoration: none;
	font-size: 1.2em;
	color: #f1cf0a;
}

.sinopse-genero-item:hover {
	text-decoration: underline;
}

.filme-nota {
	margin: 0;
	align-items: center;
	display: flex;
	font-size: 2em;
	font-weight: bold;
	justify-content: space-between;
}

.filme-nota i {
	color: #ccc;
	cursor: pointer;
}

.filme-nota i:hover {
	color: #e74c3c;
}

.rodape {
	background-color: #fff;
	color: #bababa;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

.rodape .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rodape-list {
	padding: 0;
	list-style: none;
	display: flex;
}

.rodape-list-item {
	margin: 0 20px;
}

.rodape-list-item:last-child {
	margin-right: 0;
}

.rodape-list-item a {
	font-size: 2.5em;
	color: #bababa;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.icone-twitter a:hover {
	color: #55acee;
}

.icone-facebook a:hover {
	color: #3b5998;
}

.icone-instagram a:hover {
	color: #e95950;
}
